DB_USER=agrolang
DB_PASSWORD=agrolang
DB_NAME=agrolang
DB_HOST=db
DB_PORT=5432

OPEN_METEO_BASE_URL=https://api.open-meteo.com
EVOLUTION_API_URL=
EVOLUTION_API_KEY=

HTTP_PORT=8080
SCAN_INTERVAL_SECONDS=300
